[user]
	email = bartoszstebel@gmail.com
	name = Bartosz Stebel
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[http]
	sslVerify = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
